<div class="header bg-gradient-info pb-3 pt-5 pt-md-6">

</div>
<div class="card text-white mydiv mb-3 mt-2" style="width: 100%;">
  <div class="card-header" style="height: 50px;">
    <div class="row">
      <a mdbWavesEffect [routerLink]="['/unidades']"><i class="fas fa-long-arrow-alt-left fa-2x" ></i></a>
      <h3>{{titulo}}</h3>
  </div>
  </div>
</div>

<form [formGroup]="registerForm">
  <div class="form-row" [hidden]="modoSalvar == 'post'">
    <div class="form-group col-md-12">
      <label>Código:</label>
      <input type="text" class="form-control"
      formControlName="uniD_COD_UNIDADE" readonly="true">
    </div>
  </div> 
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Unidade:</label>
      <input type="text" class="form-control" 
      [ngClass]="{'is-invalid': registerForm.get('uniD_NOM_UNIDADE').errors && registerForm.get('uniD_NOM_UNIDADE').touched}"
      formControlName="uniD_NOM_UNIDADE" placeholder="Preencha o nome">
      <div *ngIf="registerForm.get('uniD_NOM_UNIDADE').hasError('required') && registerForm.get('uniD_NOM_UNIDADE').touched" class="invalid-feedback">
        Unidade é obrigatório.
      </div>
      <div *ngIf="registerForm.get('uniD_NOM_UNIDADE').hasError('minlength') && registerForm.get('uniD_NOM_UNIDADE').touched" class="invalid-feedback">
        Unidade deve ter no mínimo 4 caracteres.
      </div>
      <div *ngIf="registerForm.get('uniD_NOM_UNIDADE').hasError('maxlength') && registerForm.get('uniD_NOM_UNIDADE').touched" class="invalid-feedback">
        Unidade deve ter no máximo 150 caracteres.
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Marca:</label>
      <select  class="form-control"
        formControlName="marC_NOM_MARCA" 
        required 
        ngModel>
        <!-- <option disabled>Selecione marca</option>
        <option>selecione uma opção</option> -->
        <option value="">Selecione</option>
        <option *ngFor="let marca of marcas">{{marca.marC_NOM_MARCA}}</option>
      </select>
      <!-- <input type="text" class="form-control" 
      [ngClass]="{'is-invalid': registerForm.get('marca').errors && registerForm.get('marca').touched}"
      formControlName="marca" placeholder="Preencha a marca">
      <div *ngIf="registerForm.get('marca').hasError('required') && registerForm.get('marca').touched" class="invalid-feedback">
        Marca é obrigatório.
      </div>
      <div *ngIf="registerForm.get('marca').hasError('minlength') && registerForm.get('marca').touched" class="invalid-feedback">
        Marca deve ter no mínimo 3 caracteres.
      </div>
      <div *ngIf="registerForm.get('marca').hasError('maxlength') && registerForm.get('marca').touched" class="invalid-feedback">
        Marca deve ter no máximo 50 caracteres.
      </div> -->
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Regional:</label>
      <input type="text" class="form-control" 
      formControlName="regI_NOM_REGIONAL" placeholder="Preencha a regional">
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Responsável:</label>
      <input type="text" class="form-control" 
      formControlName="uniD_TXT_RESPONSAVEL" placeholder="Preencha o responsável">
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Telefone:</label>
      <input type="text" class="form-control" 
      formControlName="uniD_TXT_TELEFONE" placeholder="Preencha o telefone">
    </div>
    <div class="form-group col-md-6">
      <label>Endereço:</label>
      <input type="text" class="form-control" 
      formControlName="uniD_TXT_ENDERECO" placeholder="Preencha o endereço">
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Tipo da Unidade:</label>
      <select  class="form-control"
      formControlName="tipoUnidade">
      <option value="">Selecione</option>
      <option *ngFor="let tipo of tiposUnidade">{{tipo.tipo}}</option>
    </select>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-md-10 d-flex justify-content-end">
    <button  [routerLink]="['/unidades']" type="button" class="btn btn-primary btn-sm" >Voltar</button>
  </div>
  <div class="col-md-2 d-flex justify-content-end">
    <button [disabled]="!registerForm.valid" type="button" class="btn btn-success btn-sm" (click)="salvarUnidade()">Salvar
      Alterações</button>
  </div>
</div>