<!--Navbar-->
<div class="container mt-6">
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
        <img src="./assets/img/brand/dasa_logo_branco.jpg" height="30" class="d-inline-block align-top" alt="">
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

   <!-- Links -->
   <ul class="navbar-nav mr-auto">
    <!-- <li class="nav-item active">
      <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect>Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
    </li> -->

    <!-- Dropdown -->
    <li class="nav-item dropdown" dropdown>
      <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
        Menu<span class="caret"></span></a>
      <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" style="background-color: #3d2892;">
        <a class="mymenu dropdown-item waves-light" mdbWavesEffect href="#" routerLink="links-uteis" style="color: white;">Links Úteis</a>
        <a class="mymenu dropdown-item waves-light" mdbWavesEffect href="#" routerLink="marcas" style="color: white;">Marcas</a>
        <a class="mymenu dropdown-item waves-light" mdbWavesEffect href="#" routerLink="operadoras" style="color: white;">Operadoras</a>
        <a class="mymenu dropdown-item waves-light" mdbWavesEffect href="#" routerLink="unidades" style="color: white;">Unidades</a>
        <a class="mymenu dropdown-item waves-light" mdbWavesEffect href="#" routerLink="usuarios" style="color: white;">Usuários</a>
        <a class="mymenu dropdown-item waves-light" mdbWavesEffect href="#" routerLink="pesquisacip" style="color: white;">Pesquisa CIP</a>
        <!-- <div class="divider dropdown-divider"></div>
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a> -->
      </div>
    </li>

  </ul>
  <!-- Links -->

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon> Nome Usuário<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
</div>
<!--/.Navbar-->