<div class="header bg-gradient-primary pb-3 pt-5 pt-md-6">

</div>
<app-titulo [titulo]="titulo"></app-titulo>
<div class="d-flex ml-3 mr-3">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label><input type="text" 
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista">
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo
    </button>
  </div>
</div>

<!--<h3>Filtro: {{filtroLista}}</h3>-->
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Código</th>
      <th>Usuário</th>
      <th>Login</th>
      <th>E-mail</th>
      <th>Celular</th>
      <th colspan="2" class="text-center">Opções</th>
    </tr>
</thead>
<tbody *ngIf="usuariosFiltrados && usuariosFiltrados.length">
  <tr *ngFor="let usuario of usuariosFiltrados | paginate: { itemsPerPage: contador, currentPage: pag, totalItems: usuariosFiltrados.length}">
    <td>{{usuario.id}}</td>
    <td>{{usuario.nome}}</td>
    <td>{{usuario.login}}</td>
    <td>{{usuario.email}}</td>
    <td>{{usuario.celular}}</td>
    <td>
      <div class="btn-group">
        <button class="btn btn-sm btn-danger" 
        tooltip="Excluir">
          <i class="fa fa-eraser"></i>
        </button>
      </div>
    </td>
    <td>
      <a [routerLink]="['/usuario', usuario.id, 'edit']" tooltip="Edição Detalhada" class="btn btn-sm btn-warning">
        <i class="fa fa-edit"></i>
      </a>
    </td>
</tr>
</tbody>
<tfoot *ngIf="!usuariosFiltrados"> 
  <tr>
    <td colspan="7" class="text-center">
      <h4>
        Nenhum usuário encontrado!
      </h4>
    </td>
  </tr>
</tfoot>
</table>