<div class="header bg-gradient-info pb-3 pt-5 pt-md-6">

</div>
<div class="card text-white mydiv mb-3 mt-2" style="width: 100%;">
  <div class="card-header" style="height: 50px;">
    <div class="row">
      <a mdbWavesEffect [routerLink]="['/marcas']"><i class="fas fa-long-arrow-alt-left fa-2x" ></i></a>
      <h3>{{titulo}}</h3>
  </div>
  </div>
</div>

<form [formGroup]="registerForm">
  <div class="form-row" [hidden]="modoSalvar == 'post'">
    <div class="form-group col-md-6">
      <label>Código:</label>
      <input type="text" class="form-control"
      formControlName="marC_COD_MARCA" readonly="true">
    </div>
  </div> 
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Nome da Marca:</label>
      <input type="text" class="form-control" 
      [ngClass]="{'is-invalid': registerForm.get('marC_NOM_MARCA').errors && registerForm.get('marC_NOM_MARCA').touched}"
      formControlName="marC_NOM_MARCA" placeholder="Preencha o nome">
      <div *ngIf="registerForm.get('marC_NOM_MARCA').hasError('required') && registerForm.get('marC_NOM_MARCA').touched" class="invalid-feedback">
        Nome é obrigatório.
      </div>
      <div *ngIf="registerForm.get('marC_NOM_MARCA').hasError('minlength') && registerForm.get('marC_NOM_MARCA').touched" class="invalid-feedback">
        Nome deve ter no mínimo 4 caracteres.
      </div>
      <div *ngIf="registerForm.get('marC_NOM_MARCA').hasError('maxlength') && registerForm.get('marC_NOM_MARCA').touched" class="invalid-feedback">
        Nome deve ter no máximo 150 caracteres.
      </div>
    </div>
  </div>  
</form>

<div class="row">
  <div class="col-md-10 d-flex justify-content-end">
    <button  [routerLink]="['/marcas']" type="button" class="btn btn-primary btn-sm" >Voltar</button>
  </div>
  <div class="col-md-2 d-flex justify-content-end">
    <button [disabled]="!registerForm.valid" type="button" class="btn btn-success btn-sm" (click)="salvarMarca()">Salvar
      Alterações</button>
  </div>
</div>