<div class="container mt-5">
<app-titulo [titulo]="titulo"></app-titulo>
<div class="d-flex ml-3 mr-3">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label><input type="text" 
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista">
    </div>
  </div>
  <div>
    <!-- <button class="btn btn-outline-primary" (click)="novoLink(template)"> -->
    <button class="btn btn-outline-primary" [routerLink]="['/links-uteis/0/edit']"> 
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo
    </button>
  </div>
</div>

<!--<h3>Filtro: {{filtroLista}}</h3>-->
<table class="table mytable ml-2 mr-2">
  <thead class="mythead">
    <tr>
      <th style="width:10%">Código</th>
      <th style="width:20%">Nome do Link</th>
      <th style="width:10%">Usuário</th>
      <th style="width:10%">Senha</th>
      <th style="width:40%">Link</th>
      <th colspan="2" class="text-center" style="width:10%">Opções</th>
    </tr>
</thead>
<tbody *ngIf="linksFiltrados && linksFiltrados.length">
  <tr *ngFor="let link of linksFiltrados | paginate: { itemsPerPage: contador, currentPage: pag, totalItems: linksFiltrados.length}">
    <td>{{link.calI_SKU_LINK}}</td>
    <td>{{link.calI_NOM_LINK}}</td>
    <td>{{link.calI_TXT_USUARIO_LOGIN}}</td>
    <td>{{link.calI_TXT_SENHA_LOGIN}}</td>
    <td>{{link.calI_TXT_URL_LINK | slice:0:49}}</td>
    <td>
      <div class="btn-group">
        <button class="btn btn-sm btn-danger" 
        tooltip="Excluir">
        <i class="fas fa-eraser"></i>
        </button>
      </div>
    </td>
    <td>
      <a  [routerLink]="['/links-uteis', link.calI_SKU_LINK, 'edit']" tooltip="Editar Link" class="btn btn-sm btn-warning">
        <i class="fas fa-pencil-alt" style="color: white;"></i>
      </a>
    </td>
</tr>
</tbody>
<tfoot *ngIf="!linksFiltrados"> 
  <tr>
    <td colspan="7" class="text-center">
      <h4>
        Nenhum link encontrado!
      </h4>
    </td>
  </tr>
</tfoot>
</table>
<div class="text-right">
  <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior"
  nextLabel="Próximo" directionLinks="true" responsive="true"></pagination-controls>
</div>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left">Link Dados</h4>
      <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm">
        <div class="form-row" [hidden]="modoSalvar == 'post'">
          <div class="form-group col-md-12">
            <label>Código:</label>
            <input type="text" class="form-control"
            formControlName="calI_SKU_LINK" readonly="true">
          </div>
        </div> 
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Nome do Link:</label>
            <input type="text" class="form-control" 
            [ngClass]="{'is-invalid': registerForm.get('calI_NOM_LINK').errors && registerForm.get('calI_NOM_LINK').touched}"
            formControlName="calI_NOM_LINK" placeholder="Preencha o nome">
            <div *ngIf="registerForm.get('calI_NOM_LINK').hasError('required') && registerForm.get('calI_NOM_LINK').touched" class="invalid-feedback">
              Nome é obrigatório.
            </div>
            <div *ngIf="registerForm.get('calI_NOM_LINK').hasError('minlength') && registerForm.get('calI_NOM_LINK').touched" class="invalid-feedback">
              Nome deve ter no mínimo 4 caracteres.
            </div>
            <div *ngIf="registerForm.get('calI_NOM_LINK').hasError('maxlength') && registerForm.get('calI_NOM_LINK').touched" class="invalid-feedback">
              Nome deve ter no máximo 150 caracteres.
            </div>
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Usuário:</label>
            <input type="text" class="form-control" 
            [ngClass]="{'is-invalid': registerForm.get('calI_TXT_USUARIO_LOGIN').errors && registerForm.get('calI_TXT_USUARIO_LOGIN').touched}"
            formControlName="calI_TXT_USUARIO_LOGIN" placeholder="Preencha o usuário">
            <div *ngIf="registerForm.get('calI_TXT_USUARIO_LOGIN').hasError('required') && registerForm.get('calI_TXT_USUARIO_LOGIN').touched" class="invalid-feedback">
              Usuário é obrigatório.
            </div>
            <div *ngIf="registerForm.get('calI_TXT_USUARIO_LOGIN').hasError('minlength') && registerForm.get('calI_TXT_USUARIO_LOGIN').touched" class="invalid-feedback">
              Usuário deve ter no mínimo 3 caracteres.
            </div>
            <div *ngIf="registerForm.get('calI_TXT_USUARIO_LOGIN').hasError('maxlength') && registerForm.get('calI_TXT_USUARIO_LOGIN').touched" class="invalid-feedback">
              Usuário deve ter no máximo 50 caracteres.
            </div>
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Senha:</label>
            <input type="text" class="form-control" 
            formControlName="calI_TXT_SENHA_LOGIN" placeholder="Preencha a senha">
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Link:</label>
            <input type="text" class="form-control" 
            formControlName="calI_TXT_URL_LINK" placeholder="Preencha o link">
          </div>
        </div>  
      </form>
    </div>
    <div class="modal-footer d-flex">
      <button class="btn btn-secondary" (click)="template.hide()">
        Fechar
      </button>
      <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
        Salvar Alterações
      </button>
    </div>
  </div>
</div>
</div>
</div>