.mydiv { 
    background-color: #3d2892; 
} 


.btn-primary{
    background-color: rgb(231, 231, 231);
    color: #3d2892; 
    border-color:  rgb(231, 231, 231);;
 }

 .btn-success{
    background-color:#53bec6;
    border-color: #53bec6;
 }