.sidebar {
    width: 85px;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    white-space: nowrap;
    margin-top: 200px;
}


.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}