<div class="header bg-gradient-info pb-3 pt-5 pt-md-6">

</div>
<div class="card text-white mydiv mb-3 mt-2" style="width: 100%;">
  <div class="card-header" style="height: 50px;">
    <h3>{{titulo}}</h3>
  </div>
</div>
<div class="d-flex ml-3 mr-3">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Número CIP-Visita:</label><input type="text" 
      class="form-control mr-2"
      placeholder=""
      [(ngModel)]="filtroLista">
    </div>
    <div class="form-group mb-2">
      <label class="mr-2">Código Procedimento:</label><input type="text" 
      class="form-control mr-2"
      placeholder="">
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary">
      <i class="fas fa-search"></i>&nbsp;
      Pesquisar
    </button>
  </div>
</div>

<!--<h3>Filtro: {{filtroLista}}</h3>-->
<table class="table table-striped ml-2 mr-2">
  <thead class="thead-light">
    <tr>
      <th>ID Autorizador</th>
      <th>Num. CIP Visita</th>
      <th>Atendimento</th>
      <th>Carteirinha</th>
      <th>Opções</th>
    </tr>
</thead>
<tbody *ngIf="pesquisaFiltrados && pesquisaFiltrados.length">
  <tr *ngFor="let pesquisa of pesquisaFiltrados | paginate: { itemsPerPage: contador, currentPage: pag, totalItems: pesquisaFiltrados.length}">
    <td>{{pesquisa.id}}</td>
    <td>{{pesquisa.num_cip}}</td>
    <td>{{pesquisa.dt_atendimento}}</td>
    <td>{{pesquisa.carteirinha}}</td>
    <td>
      <a  [routerLink]="['/pesquisacip', pesquisa.id, 'edit']" tooltip="Edição Detalhada" class="btn btn-sm btn-warning">
        <i class="fas fa-external-link-square-alt"></i>
      </a>
    </td>
</tr>
</tbody>
<tfoot *ngIf="!pesquisaFiltrados"> 
  <tr>
    <td colspan="7" class="text-center">
      <h4>
        Nenhuma pesquisa encontrado!
      </h4>
    </td>
  </tr>
</tfoot>
</table>
<div class="text-right">
  <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior"
  nextLabel="Próximo" directionLinks="true" responsive="true"></pagination-controls>
</div>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left">Detalhe da Guia TISS</h4>
      <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm">
        <div class="container">
        <div class="form-row">
          <div class="col-md-6">
            <div class="form-row">
            </div>
            <div class="card profile-card-2">
              <div class="card-body pt-2">
                <div class="form-row" [hidden]="modoSalvar == 'post'">
                  <div class="form-group col-md-12">
                    <label>ID Gateway:</label>
                    <input type="text" class="form-control"
                    formControlName="id" readonly="true">
                  </div>
                </div> 
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Autorizador:</label>
                    <input type="text" class="form-control" formControlName="autorizador">
                  </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Marca:</label>
                    <input type="text" class="form-control" formControlName="marca">
                  </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Unidade:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>EMS/Paciente:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div> 
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>FAP:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div> 
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Operadora:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div> 
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Região:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div> 
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Nome do Atendente:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div> 
              </div>  
            </div>  
          </div>
          <div class="col-md-6">
            <div class="form-row">
            </div>
            <div class="card profile-card-2">
              <div class="card-body pt-1">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Glosa:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div> 
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Desc Glosa:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Glosa Original:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div>  
              </div>  
            </div>  
            <div class="form-row">
            </div>
            <div class="card profile-card-2 mt-2">
              <div class="card-body pt-2">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Tipo de Solicitação:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div> 
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Data da Solicitação do Atendimento:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Data do Inicio da Solicitação:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Data do Fim da Solicitação:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div> 
              </div>  
            </div> 
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <div class="form-row">
            </div>
            <div class="card profile-card-2 mt-2">
              <div class="card-body pt-2">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Status Guia:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div> 
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Autorizado Negócio:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Tipo Aprovação Medlink:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div>  
              </div>  
            </div>  
          </div>
          <div class="col-md-6">
            <div class="form-row">
            </div>
            <div class="card profile-card-2 mt-2">
              <div class="card-body pt-2">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Número da Guia da Operadora:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div> 
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Número da Guia da Operadora Retorno:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Senha/Pré-Senha:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Data da Autorização:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div>  
              </div>  
            </div>  
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-row">
            </div>
            <div class="card profile-card-2 mt-2">
              <div class="card-body pt-2">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Nome do Beneficiário:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div> 
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Número Carteirinha:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Validade da Carteirinha:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div>  
              </div>  
            </div>  
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-row">
            </div>
            <div class="card profile-card-2 mt-2">
              <div class="card-body pt-2">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Monitor Operacional:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Monitor Executivo:</label>
                    <input type="text" class="form-control" readonly="true">
                  </div>
                </div>  
              </div>  
            </div>  
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-row">
              <h3 class="ml-2 mt-2">Log Gateway</h3>
            </div>
            <table class="table table-striped ml-2 mr-2">
              <thead class="thead-light">
                <tr>
                  <th>SKU Trace</th>
                  <th>Guia</th>
                  <th>Data do Trace</th>
                  <th>Nível Trace</th>
                  <th>Tipo Trace</th>
                  <th>Txt Trace</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>435234</td>
                  <td>234324</td>
                  <td>22/10/2020 08:30</td>
                  <td>2000</td>
                  <td>4006</td>
                  <td>4006;Gateway[Autorizador]</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-row">
              <h3 class="ml-2 mt-2">Log Guia OPM</h3>
            </div>
            <table class="table table-striped ml-2 mr-2">
              <thead class="thead-light">
                <tr>
                  <th>SKU OPM</th>
                  <th>Guia</th>
                  <th>Cód Tabela</th>
                  <th>Qtde</th>
                  <th>Cód OPM</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-row">
              <h3 class="ml-2 mt-2">Log Guia Procedimento</h3>
            </div>
            <table class="table table-striped ml-2 mr-2" style="width: 100%;table-layout: fixed;">
              <thead class="thead-light">
                <tr>
                  <th style="width:10%">SKU LOG</th>
                  <th style="width:10%">Guia</th>
                  <th style="width:10%">Tabela</th>
                  <th style="width:15%">Cód Procedimento</th>
                  <th>Descrição</th>
                  <th>Qtde</th>
                  <th>Senha</th>
                  <th>Qtde CH</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>234234</td>
                  <td>234234</td>
                  <td>22</td>
                  <td>40932656</td>
                  <td>USG JOELHO ESQUERDO</td>
                  <td>1</td>
                  <td></td>
                  <td>1800</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-row">
              <h3 class="ml-2 mt-2">Log Guia Tiss Mensagem</h3>
            </div>
            <table class="table table-striped ml-2 mr-2" style="width: 100%;table-layout: fixed;">
              <thead class="thead-light">
                <tr>
                  <th style="width:15%"> SKU Mensagem</th>
                  <th style="width:10%">Guia</th>
                  <th style="width:20%">Data Mensagem</th>
                  <th style="width:25%">Tipo Mensagem</th>
                  <th style="width:30%">Desc Mensagem</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>23423423</td>
                  <td>23423234</td>
                  <td>22/10/2020 08:30:59</td>
                  <td>RequisaoAtendimento</td>
                  <td>213123123123123123</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </form>
    </div>
    <div class="modal-footer d-flex">
      <button class="btn btn-secondary" (click)="template.hide()">
        Fechar
      </button>
      <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
        Salvar Alterações
      </button>
    </div>
  </div>
</div>
</div>