.mydiv { 
    background-color: #3d2892; 
} 

hr.style1{
	border-top: 1px solid black;
}

.myh3 { 
    color: #3d2892; 
} 

.mytable, tr, td {
    border-collapse: collapse;
    border: 1px solid gray;
    width: 100%;
    table-layout: fixed;
    tbody{
        height:200px;
        overflow-y:auto;
        width: 100%;
        }
   
}
td
{
    border: solid 1px;
    border-left: none;
    border-right: none;
}

.mythead {
    color: white; 
    background-color: #3d2892; 
    border-color: #53bec6;
    border: 2px solid #53bec6;
    text-align: left; 
    font-weight: bold;
} 

.table-wrapper {
    max-height: 250px;
    overflow: auto;
    display: inline-block;
}

.table-earnings {
      background: #F3F5F6;
}
  
.btn-primary{
    background-color: rgb(231, 231, 231);
    color: #3d2892; 
    border-color:  rgb(231, 231, 231);;
 }

 .btn-success{
    background-color:#53bec6;
    border-color: #53bec6;
 }