.mydiv { 
    background-color: #3d2892; 
} 

.modaltitle { 
    color: #3d2892; 
    font-weight: 400;
} 

.modal-header {
    padding: 10px 10px;
    color:#FFF;
 }


 hr.style1{
	border-top: 3px solid #53bec6;
}