.mydiv { 
    background-color: #3d2892; 
} 

.modaltitle { 
    color: #3d2892; 
    font-weight: 400;
} 

.modal-header {
    padding: 10px 10px;
    color:#FFF;
 }


 hr.style1{
	border-top: 3px solid #53bec6;
}

.btn-warning{
    background-color: #fb6340;
    border-color: #fb6340;
 }

.mytable, tr, td {
    border-collapse: collapse;
    border: 1px solid gray;
    width: 100%;
    table-layout: fixed;
    tbody{
        height:200px;
        overflow-y:auto;
        width: 100%;
        }
   
}
td
{
    border: solid 1px;
    border-left: none;
    border-right: none;
}

.mythead {
    color: white; 
    background-color: #3d2892; 
    border-color: #53bec6;
    border: 2px solid #53bec6;
    text-align: left; 
    font-weight: bold;
} 
