<div class="container mt-5">
  <div class="card text-white mydiv mb-3 mt-2" style="width: 100%;">
    <div class="card-header text-left">
      <div class="row align-items-center">
        <div class="col-md-11 mt-2">
          <h2>{{titulo}}</h2>
        </div>
        <div class="col-md-1">
          <a style="float:right;text-align: center;" mdbWavesEffect (click)="novoFiltro(template)"><i class="fas fa-filter fa-2x"></i>
          </a>
        </div>
      </div>
      <!-- <a mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon></a> -->
    </div>
    <!-- <div class="card-body">
      <h5 class="card-title">Primary card title</h5>
      <mdb-icon fas icon="bars" size="2x" class="mr-0"></mdb-icon>
    </div> -->
</div>
<div class="container-fluid mt--14">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h4 style="color: #3d2892;font-weight: bold;">Intraday % Negativas</h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart-wrapper">
            <canvas width="500" height="150" baseChart 
                [datasets]="lineChartData" 
                [labels]="lineChartLabels" 
                [options]="lineChartOptions"
                [colors]="lineChartColors" 
                [legend]="lineChartLegend" 
                [chartType]="lineChartType" 
                [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h4 style="color: #3d2892;font-weight: bold;">Intraday % Aprovadas</h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart-wrapper">
            <canvas width="500" height="150" baseChart 
                [datasets]="lineChartDataAprovadas" 
                [labels]="lineChartLabelsAprovadas" 
                [options]="lineChartOptions"
                [colors]="lineChartColors" 
                [legend]="lineChartLegend" 
                [chartType]="lineChartType" 
                [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h4 style="color: #3d2892;font-weight: bold;">Principais Negativas</h4>
            </div>
          </div>
        </div>
        <div class="card-body">
           <!-- Chart -->
           <div class="chart-wrapper">
            <canvas baseChart 
            [data]="pieChartDataNegativas" 
            [labels]="pieChartLabelsNegativas" 
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h4 style="color: #3d2892;font-weight: bold;">Principais Aprovadas</h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
           <div class="chart-wrapper">
            <canvas baseChart 
            [data]="pieChartData" 
            [labels]="pieChartLabels" 
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0 bg-white">
          <h3 style="color: #3d2892;font-weight: bold;">Transações X Aprovadas x Negadas</h3>
          <!-- <form class="m-1 mb-3 mt-3">
            <div class="row">
              <div class="col">
                <label>Marca:</label>
                <select class="browser-default custom-select">
                  <option>Todos</option>
                </select>
              </div>
              <div class="col">
                <label>Operadora:</label>
                <select class="browser-default custom-select">
                  <option>Todos</option>
                </select>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-xl-6">
                <label>Data:</label>
                <select class="browser-default custom-select">
                  <option>Todos</option>
                </select>
              </div>
            </div>
          </form> -->
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table mytable align-items-center table-flush">
            <thead class="mythead">
              <tr>
                <th scope="col">Unidade</th>
                <th scope="col">Qtd. Procedimentos</th>
                <th scope="col">% Aprovados</th>
                <th scope="col">% Negados</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Alto Santana - DNS
                </td>
                <td>
                  2
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1.18
                </td>
              </tr>
              <tr>
                <td>
                  Coleta Consultórios
                </td>
                <td>
                  3
                </td>
                <td>
                  1.78
                </td>
                <td>
                  1.78
                </td>
              </tr>
              <tr>
                <td>
                  Delboni Lapa - Lapa - DLP
                </td>
                <td>
                  9
                </td>
                <td>
                  5.33
                </td>
                <td>
                  5.33
                </td>
              </tr>
              <tr>
                <td>
                  Delboni Sumaré - DSU
                </td>
                <td>
                  3
                </td>
                <td>
                  1.78
                </td>
                <td>
                  1.78
                </td>
              </tr>
              <tr>
                <td>
                  Delboni Tatuapé - DTT
                </td>
                <td>
                  5
                </td>
                <td>
                  2.96
                </td>
                <td>
                  2.96
                </td>
              </tr>
              <tr>
                <td>
                  Delboni Tatuapé - DTT
                </td>
                <td>
                  5
                </td>
                <td>
                  2.96
                </td>
                <td>
                  2.96
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card shadow">
        <div class="card-header border-0 bg-white">
          <h3 style="color: #3d2892;font-weight: bold;">Pesquisa CIP</h3>
          <!-- <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Transações com aprovados da<br/> Unidade - Delboni Auriemo</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">Exportar</a>
            </div>
          </div> -->
          <!-- <form class="m-1 mb-3 mt-3">
            <div class="row mt-1">
              <div class="col-xl-6">
                <label>Número CIP:</label>
                <input type="text" class="form-control">
              </div>
              <div class="col-xl-2">
                <a href="#!" class="btn btn-sm btn-primary">Exportar</a>
              </div>
            </div>
          </form> -->
          <div class="form-group row mr-2 ml-2">
            <div class="col-xs-5">
              <label for="ex1">Número CIP:</label>
              <input type="text" class="form-control input-sm">
            </div>
            <div class="col-xs-2 mt-4 ml-5">
              <button class="btn btn-sm btn-outline-primary"> 
                <i class="fas fa-file-export"></i>&nbsp;
                Exportar
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table mytable align-items-center table-flush">
            <thead class="mythead">
              <tr>
                <th scope="col">ID AUTORIZADOR</th>
                <th scope="col">NUM. CIP</th>
                <th scope="col">HORA ATEND.</th>
                <th scope="col">CARTEIRINHA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  77720342
                </td>
                <td>
                  L50.L2254165627.1
                </td>
                <td>
                  14:26:42
                </td>
                <td>
                  5458888846991
                </td>
              </tr>
              <tr>
                <td>
                  77720344
                </td>
                <td>
                  L50.L2254165627.1
                </td>
                <td>
                  14:26:48
                </td>
                <td>
                  5458888846991
                </td>
              </tr>
              <tr>
                <td>
                  77734344
                </td>
                <td>
                  L50.L2254165627.1
                </td>
                <td>
                  14:26:42
                </td>
                <td>
                  5458888846991
                </td>
              </tr>
              <tr>
                <td>
                  777234434
                </td>
                <td>
                  L50.L2254165627.1
                </td>
                <td>
                  14:26:51
                </td>
                <td>
                  5458888846991
                </td>
              </tr>
              <tr>
                <td>
                  77756898
                </td>
                <td>
                  L50.L2254165627.1
                </td>
                <td>
                  14:26:45
                </td>
                <td>
                  5458888846991
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header pt-reduced pb-reduced" style='border: none;'>
      <h4 id="dialog-sizes-name1" class="modal-title pull-left modaltitle mt-3">Filtros:</h4>
      <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mt-0">
      <hr class="style1 mt-0">
      <form [formGroup]="registerForm">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Data:</label>
            <input type="text" class="form-control" bsDatepicker
            [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY' }" [ngClass]="{'is-invalid': registerForm.get('data').errors
            && registerForm.get('data').touched}" formControlName="data" placeholder="">
              <div *ngIf="registerForm.get('data').hasError('required')
            && registerForm.get('data').touched" class="invalid-feedback">
                Data e hora é obrigatório.
              </div>
            </div>
          <div class="form-group col-md-3">
            <label>Exibição:</label>
            <select class="browser-default custom-select">
              <option>Últimos 30 minutos</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>Tempo Refresh:</label>
            <select class="browser-default custom-select" name="tempoRefresh"  [(ngModel)]="tempoRefresh">
              <option>15 segundos</option>
              <option>30 segundos</option>
              <option>60 segundos</option>
            </select>
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Regional:</label>
            <select class="browser-default custom-select">
              <option>Todas</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>Marca:</label>
            <select class="browser-default custom-select">
              <option>Todas</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>Unidade:</label>
            <select class="browser-default custom-select">
              <option>Todas</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>Operadora:</label>
            <select class="browser-default custom-select">
              <option>Todas</option>
            </select>
          </div>
        </div>   
      </form>
    </div>
    <div class="modal-footer d-flex">
      <button class="btn btn-secondary" (click)="template.hide()">
        Cancelar
      </button>
      <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid">
        Filtrar
      </button>
    </div>
  </div>
</div>
</div>

