<div class="header bg-gradient-info pb-3 pt-5 pt-md-6">

</div>
<app-titulo [titulo]="titulo"></app-titulo>
<div class="d-flex ml-3 mr-3">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label><input type="text" 
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista">
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="novaUnidade(template)">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo
    </button>
  </div>
</div>

<!--<h3>Filtro: {{filtroLista}}</h3>-->
<table class="table table-striped ml-2 mr-2">
  <thead class="thead-light">
    <tr>
      <th>Código</th>
      <th>Unidade</th>
      <th>Marca</th>
      <th>Regional</th>
      <th>Responsável</th>
      <th>Telefone</th>
      <!-- <th>Endereço</th> -->
      <th>Tipo da Unidade</th>
      <th colspan="2" class="text-center">Opções</th>
    </tr>
</thead>
<tbody *ngIf="unidadesFiltrados && unidadesFiltrados.length">
  <tr *ngFor="let unidade of unidadesFiltrados | paginate: { itemsPerPage: contador, currentPage: pag, totalItems: unidadesFiltrados.length}">
    <td>{{unidade.uniD_COD_UNIDADE}}</td>
    <td>{{unidade.uniD_NOM_UNIDADE}}</td>
    <td>{{unidade.marC_NOM_MARCA}}</td>
    <td>{{unidade.regI_NOM_REGIONAL}}</td>
    <td>{{unidade.uniD_TXT_RESPONSAVEL}}</td>
    <td>{{unidade.uniD_TXT_TELEFONE}}</td>
    <!-- <td>{{unidade.uniD_TXT_ENDERECO}}</td> -->
    <td>{{unidade.tipoUnidade}}</td>
    <td>
      <div class="btn-group">
        <button class="btn btn-sm btn-danger" 
        tooltip="Excluir">
          <i class="fa fa-eraser"></i>
        </button>
      </div>
    </td>
    <td>
      <a (click)="editarUnidade(unidade, template)" tooltip="Edição Detalhada" class="btn btn-sm btn-warning">
        <i class="fa fa-edit"></i>
      </a>
    </td>
</tr>
</tbody>
<tfoot *ngIf="!unidadesFiltrados"> 
  <tr>
    <td colspan="7" class="text-center">
      <h4>
        Nenhuma unidade encontrada!
      </h4>
    </td>
  </tr>
</tfoot>
</table>
<div class="text-right">
  <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior"
  nextLabel="Próximo" directionLinks="true" responsive="true"></pagination-controls>
</div>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left">Unidade Dados</h4>
      <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm">
        <div class="form-row" [hidden]="modoSalvar == 'post'">
          <div class="form-group col-md-12">
            <label>Código:</label>
            <input type="text" class="form-control"
            formControlName="uniD_COD_UNIDADE" readonly="true">
          </div>
        </div> 
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Unidade:</label>
            <input type="text" class="form-control" 
            [ngClass]="{'is-invalid': registerForm.get('uniD_NOM_UNIDADE').errors && registerForm.get('uniD_NOM_UNIDADE').touched}"
            formControlName="uniD_NOM_UNIDADE" placeholder="Preencha o nome">
            <div *ngIf="registerForm.get('uniD_NOM_UNIDADE').hasError('required') && registerForm.get('uniD_NOM_UNIDADE').touched" class="invalid-feedback">
              Unidade é obrigatório.
            </div>
            <div *ngIf="registerForm.get('uniD_NOM_UNIDADE').hasError('minlength') && registerForm.get('uniD_NOM_UNIDADE').touched" class="invalid-feedback">
              Unidade deve ter no mínimo 4 caracteres.
            </div>
            <div *ngIf="registerForm.get('uniD_NOM_UNIDADE').hasError('maxlength') && registerForm.get('uniD_NOM_UNIDADE').touched" class="invalid-feedback">
              Unidade deve ter no máximo 150 caracteres.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Marca:</label>
            <select  class="form-control"
              formControlName="marC_NOM_MARCA" 
              required 
              ngModel>
              <!-- <option disabled>Selecione marca</option>
              <option>selecione uma opção</option> -->
              <option value="">Selecione</option>
              <option *ngFor="let marca of marcas">{{marca.marC_NOM_MARCA}}</option>
            </select>
            <!-- <input type="text" class="form-control" 
            [ngClass]="{'is-invalid': registerForm.get('marca').errors && registerForm.get('marca').touched}"
            formControlName="marca" placeholder="Preencha a marca">
            <div *ngIf="registerForm.get('marca').hasError('required') && registerForm.get('marca').touched" class="invalid-feedback">
              Marca é obrigatório.
            </div>
            <div *ngIf="registerForm.get('marca').hasError('minlength') && registerForm.get('marca').touched" class="invalid-feedback">
              Marca deve ter no mínimo 3 caracteres.
            </div>
            <div *ngIf="registerForm.get('marca').hasError('maxlength') && registerForm.get('marca').touched" class="invalid-feedback">
              Marca deve ter no máximo 50 caracteres.
            </div> -->
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Regional:</label>
            <input type="text" class="form-control" 
            formControlName="regI_NOM_REGIONAL" placeholder="Preencha a regional">
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Responsável:</label>
            <input type="text" class="form-control" 
            formControlName="uniD_TXT_RESPONSAVEL" placeholder="Preencha o responsável">
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Telefone:</label>
            <input type="text" class="form-control" 
            formControlName="uniD_TXT_TELEFONE" placeholder="Preencha o telefone">
          </div>
          <div class="form-group col-md-6">
            <label>Endereço:</label>
            <input type="text" class="form-control" 
            formControlName="uniD_TXT_ENDERECO" placeholder="Preencha o endereço">
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Tipo da Unidade:</label>
            <select  class="form-control"
            formControlName="tipoUnidade">
            <option value="">Selecione</option>
            <option *ngFor="let tipo of tiposUnidade">{{tipo.tipo}}</option>
          </select>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex">
      <button class="btn btn-secondary" (click)="template.hide()">
        Fechar
      </button>
      <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
        Salvar Alterações
      </button>
    </div>
  </div>
</div>
</div>